
test-big.csv
lineitem-shuffled.csv
customer.csv
lineitem.csv

nation.csv
orders.csv
part.csv
partsupp.csv
region.csv
supplier.csv
output.txt
output.json
call_center.csv
catalog_page.csv
catalog_returns.csv
catalog_sales.csv
customer_address.csv
customer_demographics.csv
date_dim.csv
household_demographics.csv
income_band.csv
inventory.csv
item.csv
promotion.csv
reason.csv
ship_mode.csv
store_returns.csv
store_sales.csv
store.csv
time_dim.csv
warehouse.csv
web_page.csv
web_returns.csv
web_sales.csv
web_site.csv
segments_par.csv
segments_seq.csv
segment_sizes.txt
segment_combiner.py
l_shipdate.csv
temp.csv
correctness_test_*/*
4k/*
tpcc.sql
tpcc/*
l_comment_i.csv
l_comment.csv
raw_data_*.csv
l_comment_i-big.csv
l_comment-big.csv
lineitem-big.csv
ingestion.png
pruning.png
query_time.png
size.png
hits.csv
hits-small.csv
longs-sorted.csv
longs-queries.csv
longs.csv
test.csv
outliers-medium.csv
outliers-small.csv
outliers.csv
sorted-medium.csv
sorted-small.csv
sorted.csv
time_queries.csv
unsorted-medium.csv
unsorted.csv
dictionary_output_unused.txt
dictionary_output_wrong.txt
dictionary_output.txt
min_max_output.txt
clusters_output.txt
sorted_hours.csv
sorted_minutes.csv
sorted_seconds.csv
unsorted_hours.csv
unsorted_minutes.csv
unsorted_seconds.csv
wrong.txt
correct.txt
cardinality_100.csv
cardinality_1000.csv
cardinality_10000.csv
cardinality_100000.csv
cardinality_1000000.csv
test.db.wal
err_clickbench.csv
err_tpcds.csv
err_tpch.csv
out_clickbench.txt
out_tpcds.txt
out_tpch.txt
experiments_results/*